<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


    <mapper namespace="com.zjgyjd.mapper.ItemsCustomMapper">
        <sql id="queryItemsByNameSQLStatement">

            <if test="name != null">
                name like '%${name}%'
            </if>

        </sql>

    <select id="queryItemsByName" parameterType="com.zjgyjd.po.ItemsEx" resultType="com.zjgyjd.po.ItemsCustom">
        select
        *
        from
        items
        <where>
            <include refid="queryItemsByNameSQLStatement"/>
        </where>
    </select>
</mapper>